* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --font-color-primary: #7723C9;
  --grid-color-hex: #2D2D2D;
  --button-color: #FF007A;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}